/* * {
	border: solid 1px red;
} */

@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Pirata+One&family=Roboto+Slab:wght@300;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab";
}

img {
	width: 100%;
	height: auto;
}

header {
	height: 390px;
	margin: 0 0 100px 0;
	background-image: url("../images/ship.jpeg");
	background-position: 90% 30%;
	background-size: cover;
	position: relative;
}

.header-intro {
	font-size: 14px;
	color: white;
	position: absolute;
	left: 0;
	padding: 3vw;
	bottom: 0;
	max-width: 400px;
	background: rgba(150, 19, 19, 0.517);
}

h2 {
	font-size: 50px;
	line-height: 1;
	font-family: Pirata One;
}

#main-menu {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	/* display: flex;
	justify-content: flex-end; */
	display: grid;
	grid-auto-flow: column;
	justify-content: flex-end;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.538);
}

#main-menu a {
	font-size: 20px;
	padding: 8px 15px;
	font-family: Pirata One;
	font-weight: bold;
	color: white;
	transition: background 1s ease-in;
	text-decoration: none;
}

#main-menu a:hover {
	background: rgb(184, 0, 0);
	color: white;
	transition: background 0.3s ease-in;
}

#main-content {
	display: grid;
	gap: 50px;
	padding: 0 50px;
	grid-auto-flow: column;
	margin: 0 auto;
	max-width: 800px;
}

p,
h1,
h2 {
	margin-bottom: 20px;
}
